
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
.creator/
build/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# Planning docs (local only, not pushed)
#//////////////////////////
Docs/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/